.container_drink_list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
  margin: 2rem 0rem;
}

/* .container_spin {
  margin: 20px 0;
  margin-bottom: 20px;
  padding: 30px 50px;
  text-align: center;
  background: #ffffff;
  border-radius: 4px;
} */

.spinner {
  color: red;
}

@media screen and (max-width: 1024px) {
  .container_drink_list {
    grid-template-columns: 1fr 1fr;
  }
}

@media screen and (max-width: 600px) {
  .container_drink_list {
    grid-template-columns: 1fr;
  }
}
