.container_detail_item {
  display: flex;
  gap: 0.6rem;
  align-items: center;
}

.item_name {
  background: var(--color-secondary);
  border-radius: 0.2rem;
  padding: 0.1rem;
  color: var(--color-text);
  max-lines: 1;
  font-size: 0.8rem;
}

.item_value {
  color: var(--color-text);
  font-size: 0.9rem;
  max-lines: 1;
}
