header {
  background: var(--color-secondary);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.8rem 0rem;
  box-shadow: 0 4px 2px -2px rgba(0, 0, 0, 0.2);
}

.app_title {
  color: var(--color-text);
  width: 12%;
}

.container_links {
  display: flex;
  justify-content: flex-end;
  gap: 1.5rem;
  width: 60%;
}

.link_item {
  font-size: 1.2rem;
  color: var(--color-text);
  transition: var(--transition);
  cursor: pointer;
}

.link_item:hover {
  color: var(--color-white);
}
